/* font-family: 'Bebas Neue', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Yeseva One', cursive; */

html,
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --bs-body-font-family: 'Roboto', sans-serif;
}

.container-fluid {
    padding: 0;
}

a {
    text-decoration: none;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar.scrolled {
    background-color: #ffffff;
}

.scrolled .navbar-brand {
    color: #5b3590;
}

.bg-transparent .navbar-brand:hover {
    color: #5b3590;
}

.bg-transparent .top-bar,
.bg-transparent .mid-bar,
.bg-transparent .bot-bar {
    background-color: rgb(255, 255, 255);
}

.bg-transparent .navbar-toggler:hover .top-bar,
.bg-transparent .navbar-toggler:hover .mid-bar,
.bg-transparent .navbar-toggler:hover .bot-bar {
    background-color: #5b3590;
}

.navbar {
    width: 100%;
    --bs-navbar-brand-color: #5b3590;
    --bs-navbar-brand-hover-color: #5b3590;
    --bs-navbar-active-color: rgb(200, 48, 101);
    --bs-navbar-padding-x: 0;
    --bs-navbar-toggler-padding-x: 1rem;
    transition: background-color 300ms ease;
}

.navbar-brand {
    color: white;
    font-family: 'Yeseva One', cursive;
    font-weight: bold;
    padding-left: 5%;
    transition: color 200ms ease;
}

.navbar-brand:hover {
    color: rgb(73, 142, 203);
}

.nav-link {
    font-weight: bold;
    padding-left: 5%;
    transition: color 200ms ease;
    color: rgba(106, 78, 144, 0.858);
    --bs-nav-link-hover-color: rgba(106, 78, 144, 1);
}

.nav-link:hover {
    color: rgb(73, 142, 203);
}

footer .nav-link {
    color: white;
}

.navbar-toggler {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.navbar-icon {
    width: 30px;
    height: 30px;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
}

.top-bar,
.mid-bar,
.bot-bar {
    width: 20px;
    height: 4px;
    margin: 4.25px 5px;
    background-color: rgb(106, 78, 144);
    transition: background-color 200ms ease;
}

.navbar-icon:hover>.top-bar,
.navbar-icon:hover>.mid-bar,
.navbar-icon:hover>.bot-bar {
    background-color: rgb(73, 142, 203);
}

.navbar-open>.top-bar {
    background-color: rgb(200, 48, 101);
    animation-fill-mode: forwards;
    animation-name: top-bar-rotate;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
}

@keyframes top-bar-rotate {
    0% {
        width: 20px;
        transform: translateY(0px) rotate(0deg);
    }
    100% {
        width: 22px;
        transform: translateY(8px) rotate(45deg);
    }
}

.navbar-open>.mid-bar {
    animation-fill-mode: forwards;
    animation-name: mid-bar-fade-out;
    animation-duration: .1s;
}

@keyframes mid-bar-fade-out {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.navbar-open>.bot-bar {
    background-color: rgb(200, 48, 101);
    animation-fill-mode: forwards;
    animation-name: bot-bar-rotate;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
}

@keyframes bot-bar-rotate {
    0% {
        width: 20px;
        transform: translateY(0px) rotate(0deg);
    }
    100% {
        width: 22px;
        transform: translateY(-8px) rotate(-45deg);
    }
}

.navbar-closed>.top-bar {
    animation-fill-mode: forwards;
    animation-name: top-bar-unrotate;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
}

@keyframes top-bar-unrotate {
    0% {
        width: 22px;
        transform: translateY(8px) rotate(45deg);
    }
    100% {
        width: 20px;
        transform: translateY(0px) rotate(0deg);
    }
}

.navbar-closed>.mid-bar {
    animation-fill-mode: forwards;
    animation-name: mid-bar-fade-in;
    animation-duration: .2s;
}

@keyframes mid-bar-fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.navbar-closed>.bot-bar {
    animation-fill-mode: forwards;
    animation-name: bot-bar-unrotate;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
}

@keyframes bot-bar-unrotate {
    0% {
        width: 22px;
        transform: translateY(-8px) rotate(-45deg);
    }
    100% {
        width: 20px;
        transform: translateY(0px) rotate(0deg);
    }
}

.navbar-open .navbar-brand {
    color: #5b3590;
}

.landing-size {
    height: calc(110vh - 56px);
}

.landing-wrapper {
    height: 100%;
    overflow: hidden;
}

video {
    object-fit: cover;
}

.heading {
    position: absolute;
    z-index: 1;
    justify-self: flex-start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.header {
    font-size: 40px;
}

.subheader {
    font-size: 20px;
}

#pulldown {
    height: 50px;
    width: 50px;
    background-image: url("resources/chevron-compact-down.svg");
    transform: translateY(250px);
    filter: brightness(0) invert(1);
    background-size: cover;
    background-repeat: no-repeat;
}

.section-size {
    height: 800px;
    padding: auto;
    color: rgb(106, 78, 144);
    padding: auto;
}

.section-name {
    margin-top: auto;
    height: 100px;
    text-align: center;
    overflow-x: hidden;
}

h2 {
    color: rgba(106, 78, 144, 0.841);
    font-size: 60px;
    font-weight: 600;
    margin-top: auto;
}

.desc {
    margin: auto;
    padding: 5%;
}

h3 {
    text-transform: uppercase;
    color: #4866b1;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
}

p {
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
    color: rgb(77, 77, 77);
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.content-size {
    height: 600px;
    width: 80%;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.carousel-category {
    height: 100%;
    align-self: baseline;
}

.carousel-inner,
.carousel-item {
    height: 100%;
}

.fadein-left.active {
    animation-fill-mode: forwards;
    animation-name: fadein-left;
    animation-duration: .15s;
    animation-timing-function: ease-in-out;
}

@keyframes fadein-left {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.fadein-right.active {
    animation-fill-mode: forwards;
    animation-name: fadein-right;
    animation-duration: .15s;
    animation-timing-function: ease-in-out;
}

@keyframes fadein-right {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.carousel-item>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.carousel-indicators [data-bs-target] {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

.about-size {
    height: 100vh;
}

.about-wrapper {
    height: 80%;
    margin: auto 10%;
    background-image: url("resources/flowers_cornersVertical.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 20px;
}

.about-info {
    transform: translateX(50px) translateY(-40px);
    width: 300px;
    color: rgb(106, 0, 46);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-family: 'Yeseva One', cursive;
}

.gallery {
    height: 344px;
    margin: auto;
    max-width: 780px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    text-align: center;
    background-image: url("resources/Paris Bakery/wedding-6-extended.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery-text-wrapper {
    height: 100%;
    clip-path: polygon(0 0, 30% 0, 55% 100%, 0% 100%);
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .7));
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.gallery-closed {
    animation-fill-mode: forwards;
    animation-name: gallery-unhover;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

.gallery-open {
    animation-fill-mode: forwards;
    animation-name: gallery-hover;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

@keyframes gallery-hover {
    0% {
        clip-path: polygon(0 0, 30% 0, 55% 100%, 0% 100%);
    }
    100% {
        clip-path: polygon(0 0, 50% 0, 75% 100%, 0% 100%);
    }
}

@keyframes gallery-unhover {
    0% {
        clip-path: polygon(0 0, 50% 0, 75% 100%, 0% 100%);
    }
    100% {
        clip-path: polygon(0 0, 30% 0, 55% 100%, 0% 100%);
    }
}

.gallery-text {
    width: 40%;
    font-size: xx-large;
    transform: translateY(40px);
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.gallery-arrow {
    width: 70px;
    height: 70px;
    background-image: url("resources/forward-fill.svg");
    transform: translateY(50%) translateX(30%);
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(115deg) brightness(107%) contrast(101%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.btn-purple {
    background-color: #6A4E90;
    color: white;
    border: none;
}

.btn-purple:hover {
    background-color: #6A4E90;
    color: white;
}

#btnContact {
    width: 300px;
    height: 100px;
    margin: 50px auto;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-fill-mode: forwards;
    animation-name: btnContact-unhover;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
}

#btnContact:hover {
    animation-fill-mode: forwards;
    animation-name: btnContact-hover;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
}

@keyframes btnContact-hover {
    0% {
        transform: translateX(0px) translateY(0px);
        box-shadow: none;
    }
    100% {
        transform: translateX(-6px) translateY(-6px);
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    }
}

@keyframes btnContact-unhover {
    0% {
        transform: translateX(-6px) translateY(-6px);
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    }
    100% {
        transform: translateX(0px) translateY(0px);
        box-shadow: none;
    }
}

#btnContact>img {
    width: 47px;
    padding-left: 10px;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(115deg) brightness(107%) contrast(101%);
}

footer>.container-fluid {
    background-color: #6A4E90;
    height: 300px;
}

.feet {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    position: relative;
    transform: translateX(30px);
    height: 200px;
    width: 200px;
    filter: brightness(0) invert(1);
}

#logo img {
    object-fit: cover;
}

footer img:hover {
    cursor: pointer;
    animation-fill-mode: forwards;
    animation-name: logo-hover;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
}

@keyframes logo-hover {
    0% {
        transform: translateX(30px);
        box-shadow: none;
    }
    100% {
        transform: translateX(27px) translateY(-3px);
        filter: invert(92%) sepia(103%) saturate(108%) hue-rotate(170deg) brightness(101%) contrast(86%);
    }
}

@keyframes logo-unhover {
    0% {
        transform: translateX(27px) translateY(-3px);
        filter: invert(92%) sepia(103%) saturate(108%) hue-rotate(170deg) brightness(101%) contrast(86%);
        box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
    }
    100% {
        transform: translateX(30px);
        box-shadow: none;
    }
}

.footer-nav {
    align-self: end;
    padding-right: 60px;
}

.quick-nav {
    display: flex;
    justify-content: end;
    align-items: end;
}

.quick-nav>.navbar-nav {
    display: flex;
    justify-content: end;
    align-items: end;
}

.quick-nav .nav-item>a {
    font-size: 18px;
    text-align: end;
}

.social-media {
    height: 70px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.logo-instagram {
    width: 35px;
    height: 35px;
    display: inline-block;
    filter: brightness(0) invert(1);
    background-image: url("resources/instagram.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    animation-name: instagram-unhover;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
    border-radius: 10px;
}

.logo-instagram:hover {
    cursor: pointer;
    animation-fill-mode: forwards;
    animation-name: instagram-hover;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
}

@keyframes instagram-hover {
    0% {
        transform: translateX(0px) translateY(0px);
        box-shadow: none;
    }
    100% {
        transform: translateX(-3px) translateY(-3px);
        filter: invert(92%) sepia(93%) saturate(6758%) hue-rotate(170deg) brightness(91%) contrast(86%);
        box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
    }
}

@keyframes instagram-unhover {
    0% {
        transform: translateX(-3px) translateY(-3px);
        filter: invert(92%) sepia(93%) saturate(6758%) hue-rotate(170deg) brightness(91%) contrast(86%);
        box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
    }
    100% {
        transform: translateX(0px) translateY(0px);
        box-shadow: none;
    }
}

.logo-facebook {
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin-left: 8px;
    display: inline-block;
    filter: brightness(0) invert(1);
    background-image: url("resources/facebook.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    animation-fill-mode: forwards;
    animation-name: facebook-unhover;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
    border-radius: 50%;
}

.logo-facebook:hover {
    animation-fill-mode: forwards;
    animation-name: facebook-hover;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
}

@keyframes facebook-hover {
    0% {
        transform: translateX(0px) translateY(0px);
        box-shadow: none;
    }
    100% {
        transform: translateX(-3px) translateY(-3px);
        filter: invert(92%) sepia(93%) saturate(6758%) hue-rotate(170deg) brightness(91%) contrast(86%);
        box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
    }
}

@keyframes facebook-unhover {
    0% {
        transform: translateX(-3px) translateY(-3px);
        filter: invert(92%) sepia(93%) saturate(6758%) hue-rotate(170deg) brightness(91%) contrast(86%);
        box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
    }
    100% {
        transform: translateX(0px) translateY(0px);
        box-shadow: none;
    }
}

.fade-in-right {
    animation-fill-mode: forwards;
    animation-name: fade-in-right-scroll;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
}

@keyframes fade-in-right-scroll {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.scroll-appear {
    opacity: 0;
    transform: translateX(20px);
    transition: .5s ease-in-out;
}

.scroll-appear.active {
    opacity: 1;
    transform: translateX(0px);
}

.scroll-appear-2 {
    opacity: 0;
    transform: translateX(-20px);
    transition: .5s ease-in-out;
}

.scroll-appear-2.active {
    opacity: 1;
    transform: translateX(0px);
}

@media (min-width: 576px) {
    .navbar-brand {
        position: absolute;
        padding-left: 0;
        left: 50%;
        margin-left: -82px !important;
    }
    #navLinks {
        display: flex;
        justify-content: center;
    }
    .navbar-brand {
        font-weight: bold;
        font-size: 1.5rem;
        padding-left: 0;
    }
    .navbar-nav {
        min-width: 550px;
        width: 80%;
        max-width: 600px;
        display: flex;
    }
    .nav-link {
        padding-left: 0;
    }
    .nav-item {
        width: 15%;
    }
    .nav-item>a {
        text-align: center;
    }
    .bg-transparent .nav-item>a {
        color: white;
    }
    .bg-transparent .nav-link:hover {
        color: rgb(73, 142, 203);
    }
    .bg-transparent .nav-link.active:hover {
        filter: none
    }
    .spacer {
        width: 50%;
    }
    h2 {
        font-size: 90px;
    }
    .header {
        font-size: 60px;
    }
    .subheader {
        font-size: 30px;
    }
    .about-wrapper {
        background-image: url("resources/flowers_cornersHorizontal.jpg");
    }
    .about-info {
        transform: translateX(50px) translateY(40px);
        font-size: 35px;
        width: 400px;
    }
    #pulldown {
        height: 70px;
        width: 70px;
        transform: translateY(225px);
    }
    .section-size {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15%;
    }
    .section-name {
        margin-top: none;
        height: 230px;
    }
    h2 {
        font-size: 90px;
    }
    h3 {
        font-size: 35px;
    }
    p {
        font-size: 15px;
    }
    .content-size {
        height: 627px;
    }
    .carousel-wrapper {
        height: 70%;
    }
    .carousel-category {
        height: 100%;
        align-self: center;
    }
    .gallery-text {
        font-size: 50px;
        transform: translateY(40px);
    }
    .gallery-arrow {
        width: 100px;
        height: 100px;
        background-image: url("resources/forward-fill.svg");
        transform: translateY(32.5%) translateX(50%);
    }
    #btnContact>img {
        width: 50px;
        padding-left: 10px;
        font-size: xx-large;
    }
    #btnContact {
        width: 350px;
        height: 100px;
        margin: 50px auto;
        font-size: 37px;
    }
    .quick-nav .nav-item>a {
        font-size: 20px;
    }
    .logo-instagram {
        width: 40px;
        height: 40px;
    }
    .logo-facebook {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 768px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -110px !important;
        display: block;
    }
    #navLinks {
        display: flex;
        justify-content: center;
    }
    .navbar-brand {
        font-weight: bold;
        font-size: 2rem;
    }
    .navbar-nav {
        min-width: 600px;
        width: 80%;
        max-width: 700px;
        display: flex;
    }
    .nav-item {
        width: 15%;
    }
    .nav-item>a {
        text-align: center;
    }
    .spacer {
        width: 40%;
    }
    .header {
        font-size: 80px;
    }
    .subheader {
        font-size: 40px;
    }
    .about-info {
        transform: translateX(90px) translateY(30px);
        width: 400px;
        font-size: 40px;
    }
    #pulldown {
        height: 80px;
        width: 80px;
        transform: translateY(200px);
    }
    .section-size {
        margin-bottom: 10%;
    }
    .content-size {
        width: 90%;
    }
    .carousel-wrapper {
        height: 90%;
    }
    h3 {
        font-size: 40px;
        text-align: left;
    }
    p {
        text-align: left;
        font-size: 15px;
        margin-right: auto;
        margin-left: 0;
    }
    .section-size:nth-child(odd) h3 {
        text-align: end;
    }
    .section-size:nth-child(odd) p {
        text-align: end;
        margin-left: auto;
        margin-right: 0;
    }
}

@media (min-width: 1200px) {
    .about-info {
        transform: translateX(140px) translateY(60px);
        width: 500px;
        font-size: 45px;
    }
    h2 {
        font-size: 120px;
    }
    h3 {
        font-size: 40px;
    }
    p {
        font-size: 20px;
    }
    .content-size {
        width: 80%;
    }
}

@media (min-width: 1300px) {
    h3 {
        font-size: 50px;
    }
    p {
        font-size: 20px;
    }
}